body {
    font-family: sans-serif;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c7700;
}

#navbar li:not(#search) {
    float: left;
    border-right: 1px solid white;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#navbar li a:hover {
    background-color: #458505;
}

#search form label {
    color: white;
    text-align: center;
}

#search form {
    padding: 16px 16px; 
}

#search input[type=text] {
    padding: 4px 6px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid grey;
}

#search input[type=submit] {
    background-color: white;
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 3px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#search input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(172, 172, 172);
}

#search select {
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #f1f1f1;
    padding: 3px 5px;
}

#search {
    float: right;
    width: 50%;
    text-align: right;
}

#iconlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#iconlist li {
    float: left;
    padding: 20px 5px;
}

#messages {
    font-size: 1.5em;
    font-style: italic;
    color: #3c7700;
}

#content {
    width: 97%;
    margin: auto;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #3e6616;
}

a:hover {
    text-decoration: underline;
}

button, input[type=submit] {
    background-color: #3c7700;
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 3px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    border-radius: 3px;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
    background-color: #458505;
}