body {
    font-family: sans-serif;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6b9b24;
}

#navbar li:not(#search) {
    float: left;
    border-right: 1px solid white;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #458505;
}

#search form label {
    color: white;
    text-align: center;
}

#search form {
    padding: 16px 16px; 
}

#search {
    float: right;
    width: 60%;
    text-align: right;
}

#iconlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#iconlist li {
    float: left;
    padding: 20px 5px;
}

#messages {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ff171d;
}

#content {
    width: 97%;
    margin: auto;
}