{% extends "base.html" %}

{% block content %}

<h1>{{info.name}}</h1>

<div class="button">
    <p><a href="">EDIT</a></p>
</div>

<p>Served on {{info.served}} at {{info.hall}}.</p>

{% if info.image|wordcount > 0 %}
<div id="image">
    <img href="{{info.image}}">
</div>
{% endif %}

<div id="label-info">
    <table id="labels">
        <tr>
            <th>Listed Allergens</th>
            <th>Allergens Present</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for allergen in info.listedAllergens %}
                    <li>{{allergen}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for allergen in info.actualAllergens %}
                    <li>{{allergen}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Listed Diets</th>
            <th>Diets Followed</th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for diet in info.listedDiets %}
                    <li>{{diet}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for diet in info.actualDiets %}
                    <li>{{diet}}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>

<div id="notes">
    <h2>Notes</h2>
    <p>{% if info.notes|wordcount > 0 %}
        {{info.notes}}
        {% else %}
        None
    {% endif %}</p>
</div>

{% endblock %}